// Clearfix
//
// Clears floats via mixin (avoid using as a class).

@mixin clearfix {
  &:before {
    display: table;
    content: "";
  }

  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

// type utilities

@mixin font {
  font-family: "Helvetica Neue", Helvetica, Arial, font-serif;
}

@mixin font_light {
  @include font;
  font-weight: 300;
}

@mixin font_regular {
  @include font;
  font-weight: 400;
}

@mixin font_semibold {
  @include font;
  font-weight: 600;
}

@mixin font_bold {
  @include font;
  font-weight: 700;
}

@mixin font_extrabold {
  @include font;
  font-weight: 800;
}
